:root {
  /* Colores */
    --letras: #660236;
    --boton: #a91a4c;
    --boton-hover: #86143c;
    --url:#ae2f4f;
    --principal:#761a9b;
    --fondo:#FFF7F7;
    --tarjeta:#ffffff;
    --categorias:#3924af;
    --header-admin:#11101d;
  /* Medidas */
    --border-radius-box:20px;
    --border-radius: 50px;
  }