:root {
  /* Colores */
    --letras: #660236;
    --boton: #a91a4c;
    --boton-hover: #86143c;
    --url:#ae2f4f;
    --principal:#f2a8c8;
    --fondo:#FFF7F7;
    --tarjeta:#ffffff;
    --categorias:#ffcdde;
    --header-admin:#11101d;
    --texto-inverso:#ffffff;
  /* Medidas */
    --border-radius-box:20px;
    --border-radius: 50px;
  }