:root {
  /* colores admin */
    --light-color: #f8f9fa;
    --btn-delete: #dc3545;
    --btn-edit: #ffc107;
  /* Colores */
    --letras: #660236;
    --boton: #a91a4c;
    --boton-hover: #86143c;
    --url:#ae2f4f;
    --principal:#f2a8c8;
    --fondo:#FFF7F7;
    --tarjeta:#ffffff;
    --categorias:#ffcdde;
    --header-admin:#11101d;
    --texto:#000000;
    --texto-inverso:#ffffff;
    --footer-bg:#2d3748;
    --footer-link:#63b3ed;
  /* Medidas */
    --border-radius-input: 10px;
    --border-radius-box:20px;
    --border-radius: 50px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
;
  }