:root {
  /* Colores */
    --boton: #7A1CAC;
    --boton-hover: #7C00FE;
    --url:#673cca;
    --fondo:#FFF7F7;
    --tarjeta:#ffffff;
  /* Medidas */
    --border-radius-box:20px;
    --border-radius: 50px;
  }