:root {
  /* Colores */
    --boton: #7A1CAC;
    --boton-hover: #7100ea;
    --url:#673cca;
    --principal:#761a9b;
    --fondo:#FFF7F7;
    --tarjeta:#ffffff;
  /* Medidas */
    --border-radius-box:20px;
    --border-radius: 50px;
  }